<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Appointment Page</title>
    </head>
    <body>
      <br>
      <center>
      <a>Please select</a>
      <br>
      <br>
      {% if not user.is_authenticated %}
      <form method="get" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">Zaloguj</button>
      </form>
      <br>
      <form method="get" action="{% url 'user_registration' %}">
          {% csrf_token %}
          <button type="submit">Zarejestruj</button>
      </form>
      <br>
      {% elif user.is_superuser %}
      <p> Logged in user: {{ user.username }}</p>
      <a href="{% url 'admin_page' %}" class="button">Add specialization, doctor, appointments dates</a>
      <br>
      <form method="POST" action="{% url 'user_logout' %}">
          {% csrf_token %}
          <button type="submit">Log out</button>
      </form>
      {% elif user.is_authenticated %}
      <p> Logged in user: {{ user.username }}</p>
      <form action="{% url 'doctor_visit' %}">
        <button type="submit">Would you like to register for a doctor visit?</button>
      </form>
      <br>
      <form method="POST" action="{% url 'user_logout' %}">
          {% csrf_token %}
          <button type="submit">Log out</button>
      </form>
      {% endif %}
      </center>
    </body>
</html>
